h1 {
  font-size: 120px;
  font-weight: 900;
  color: black;

}

.contact {
  float:left;
  width:15%;
  margin-left:5px;
  color: black;

}

.title {
  text-align:center;
  background: forestgreen;

}

.picture {
  text-align:center;
  color: black;

}


.image {
  height: 200px;
  width: 200px;

}

.produktkategori {
  text-align:center;
  font-size: 26px;
  text-transform: uppercase;

}
.produktvisning {
  display:flex;
  justify-content: space-between;
}
.produktbeskrivelse{
  flex-grow: 1;
  text-align:center;
  vertical-align: top;
}
.produktbillede {
  width: 49vw;

}
.produkttekst {
  padding-left: 200px;
  padding-right: 200px;
}
.irc_mi {
  height: 90px;
  width: 90px;
}

.snipcart-add-item{
  height: 50px;
  width: 170px;

}

body {
  background: darkseagreen;
}
.divall {
  text-align: center;



}
.divinside {
  display:inline-block;
  width: 28%;
  background:forestgreen;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 70px;
}
h3 {
  color: Black;
}

h4 {
  font-size: 80px;
  font-weight: 1000;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}
