h1 {
  font-size: 120px;
  font-weight: 900;
  color: black;

}

.contact {
  float:left;
  width:15%;
  margin-left:5px;
  color: black;

}

.title {
text-align:center;
background: lightgrey;

}

.picture {
  text-align:center;
color: black;
}


.image {
  height: 300px;
  width: 300px;

}

.produktkategori {
  text-align:center;
    font-size: 26px;
    text-transform: uppercase;

}


body {
  background: darkseagreen;
}
.divall {
  text-align: center;


}
.divinside {
  display:inline-block;
  width: 28%;
background:lightgrey;
}
